_build/
_site/
__pycache__/
.vscode/
_prebuilt/
.pytest_cache/
.vagrant/

## Generate by CI scripts:
# A copy of OpenSSL for Windows:
external/OpenSSL
.docker-ccache/

*.egg-info
*.stamp

__test_project/
__test_crs/
.dagon.db